




{{#each new_post}}

    <p><a href={{this.url}}> {{this.title}}</a><a href="http://localhost:3000/{{this.slug}}"> [COMMENTS]  </a> <a id="count">Hottness: {{this.vote}}</a>
    </p>

{{/each}}

<div>
    <form action="/post" method="POST" >
        <label for="url">URL</label>
        <input type="text" id="url" name="url" placeholder=" Url ">
        <label for="title">TITLE</label>
        <input type="text" id="title" name="title" placeholder=" Title">

        <!--<label for="fname">foooooodz</label>-->

        <input type="submit" value="Poo">
    </form>
</div>

<script>
    console.log("in hbs", {{this.vote}});
    this.vote = this.vote+1;
    console.log("in hbs again", {{this.vote}});

</script>